.lista-filmes-populares{
    max-width: 800px;
    margin: 14px auto;
}

.lista-filmes-populares article {
    width: 100%;
    background-color: #FFF;
    padding: 14px;
    border-radius: 4px;
}

.lista-filmes-populares img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lista-filmes-populares strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    display: block;
}

.lista-filmes-populares a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116FEB;
    text-decoration: none;
    color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}